## Problem Overview

Our task focuses on understanding factors contributing to lung cancer. We are provided with the following data points for 10,000 individuals:

- **Age**: The person's age. Since lung cancer risk increases with age, we did not include any individuals younger than 40.

- **Relative Genetic Risk**: A genotyping test score estimating the individual's genetic predisposition to lung cancer compared to an "average" person.

- **Education**: The individual's highest obtained education level.

- **Pack Years Smoked**: A medical metric that quantifies smoking history. For example, smoking 20 cigarettes per day for 10 years equals 10 pack years (1 pack = 20 cigarettes). 

- **Years Clean**: The number of years since the individual quit smoking. For those who have never smoked, this is equal to their age.

- **Relative Air Pollution**: An estimate of the individual's exposure to air pollution, a known environmental risk factor for lung cancer.

- **Lung Cancer**: Binary outcome indicating whether the person has lung cancer based on an infallible supertest (1 = yes, 0 = no).

**Your goal** is to find out how much the different factors listed above contribute to an individuals risk of developing lung cancer.

In [ ]:
import pandas as pd

# Tarmo: Let's take a sample of n=1000 to make life easier :). Feel free to revert back to full dataset when you've decided on your model.
df = pd.read_csv('lung_cancer.tsv',sep='\t').sample(1000) 

df.head()

,age,relative_genetic_risk,education,smoking_status,pack_years_smoked,years_clean,relative_air_pollution,lung_cancer
3586,44,5.00,High school graduate,Current smoker,11,0,1.45,0
176,53,3.18,Basic education or lower,Never smoked,0,53,1.84,0
538,42,1.35,Bachelor's degree or vocational degree,Never smoked,0,42,0.30,0
8397,53,2.62,High school graduate,Never smoked,0,53,1.10,0
4348,62,0.67,High school graduate,Never smoked,0,62,1.01,0